# Secrets & Environment variables
.env

# Python bytecode & cache
__pycache__/
*.py[cod]
*$py.class
*.so
.pytest_cache/

# Streamlit local state
.streamlit/secrets.toml

# IDE & OS files
.vscode/
.idea/
.DS_Store
Thumbs.db
desktop.ini
*.log

# dbt artifacts
dbt_lakehouse/target/
dbt_lakehouse/logs/
dbt_lakehouse/dbt_packages/
